@{
    ViewData["Title"] = "Home Page";
}

<cache vary-by="@Context.Request.Path">
    <app>
       
        Loading...
    </app>
</cache>


@section scripts {
    <script src="~/lib/systemjs/dist/system.src.js"></script>
    <script src="~/lib/angular2/bundles/angular2.dev.js"></script>
    <script src="~/lib/angular2/bundles/router.dev.js"></script>
    <script src="~/lib/angular2/bundles/http.dev.js"></script>
    <script>
        System.config({
            packages: {'app': {defaultExtension: 'js'}}
        });
        System.import('./app/bootstrap').catch(console.log.bind(console));
    </script>
}
